[submodule "stesi/l10n-italy"]
	path = stesi/l10n-italy
	url = git@github.com:stesi/l10n-italy.git
	branch = 14.0-supermerge

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0
